fast-ssi/ssi/
__pycache__/
*.py[cod]
*.pyo
*.so
.pytest_cache/
.mypy_cache/
.ruff_cache/
.coverage
.coverage.*
.nox/
.tox/
.hypothesis/
.venv/
venv/
env/
ENV/
build/
dist/
*.egg-info/
*.egg
pip-wheel-metadata/
.DS_Store
*.log
*.tmp
